* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: rgb(1, 1, 1);
  
}

.visible{
  display:block;
}

.invisible{
  display: none;
}

#concent-switch{
  z-index: 1022;
  position: relative;
}

#sidebarResponsive{
  box-shadow: 5px 0 5px #ccc;
}

li.side-item{
  font-size: 16px;
  font-weight: bold;
  padding: 0px 0px 20px 20px;
  opacity: 0.6;
}

li.side-item:hover {
  opacity: 1;
}

.notice,.alert{
  color: red;
  background-color: #ffffff;
  animation-name: fadeOutAnime;
  animation-fill-mode: forwards;
  animation-delay: 1.0s;
  animation-duration: 4.0s;
  animation-timing-function: ease-in;
}

#login-link{
  z-index: 1031;
  position: relative;
}

@keyframes fadeOutAnime{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes flash {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.4;
	}
}

.vertical-title{
  position: fixed;
  top: 500px;
  left: 7px;
  font-weight: bold;
  font-size: 22px;
  color: #777;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.field_with_errors {
  display: contents;
}

.description-box{
  padding: 6px;
  font-size: smaller;
  margin: auto;
  border-radius: 5px;
  height: 100px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-sttle: none;
}

.details{
  height: 30px;
  vertical-align: middle;
  margin-top: 20px;
  padding: 6px 0 0 8px;
  color: #606060;
  background-color: #ccc;
}

.switch-board{
  font-size: smaller;
  margin: auto;
  padding-top: 5px;
  height: 120px;
}

::-webkit-scrollbar{
  display: none;
}

.react-tabs {
  position: relative;
  border-radius: 5px;
  width: 100%;
  z-index: 1022;
}

#maintab {
  border-radius: 5px;
  padding: 10px 12px 16px 12px;
  width: 100%;
  background-color: #FFF;
}

.react-tabs__tab {
  width: 60px; /* この幅を超えると省略 */
  background-color: #ccc;
  border-radius: 10px 10px 0px 0px;
  font-size: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.react-tabs__tab-list {
  white-space: nowrap;
  overflow-x: scroll;
}

#non-project-text{
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  z-index: 1000;
  color: gray;
}

#deadline-display{
  font-size: 10px;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: rgb(1, 1, 1);
}

a:hover {
  text-decoration: none;
  color: rgb(1, 1, 1);
}

input:focus {
  outline: 0;
}

.active-mode-menu{
  font-size: 40%;
  color: white;
  position: fixed;
  left: 5%;
  top: 90%;
}

.cons-time{
  color: #FFF;
  background-color: #17a2b8;
  padding: 4px;
  border-radius: 2.5px;
  position: fixed;
  bottom: 35px;
  right: 60px;
}

@media(min-width: 768px){
  li.side-item{
    margin-bottom: 10%;
    font-size: 20px;
    padding-left: 0;
  }
  .active-mode-menu{
    font-size: 60%;
    color: white;
    position: fixed;
    left: 4%;
    top: 4%;
  }
  .description-box{
    font-size: 16px;
    padding: 8px;
    height: 140px;
  }
  .react-tabs__tab {
    width: 80px; /* この幅を超えると省略 */
    font-size: small;
  }
  #deadline-display{
    font-size: 14px;
  }
  .cons-time{
    bottom: 30px;
    right: 50px;
  }
}

@media(min-width: 1200px){
  .active-mode-menu{
    font-size: 80%;
  }
  .description-box{
    padding: 10px;
    height: 180px;
  }
  #deadline-display{
    font-size: 20px;
  }
}