<div class="mt-5 container">
  <div class="p-4 row bg-info d-block justify-content-center">
    <h1>ランキング</h1>
    <table>
      <thead>
        <tr>
          <th>ユーザーネーム</th>
        </tr>
      </thead>
      <tbody>
        <% @user_statuses.each do |user_status| %>
          <tr>
            <td><%= user_status.name %></td>
            <td>Lv. <%= user_status.level %>/</td>
            <td>exp:<%= user_status.exp %>/</td>
            <td><%= user_status.score %> pt.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table>
  </div>
</div>